<form action="/app/profil/" method="post">
    {% csrf_token %}
    <label for="nom">Votre nom : </label>
    <input id="nom" type="text" name="nom" value="{{ user.nom }}">
    <label for="prenom">Votre prenom : </label>
    <input id="prenom" type="text" name="prenom" value="{{ user.prenom }}">
    <label for="email_user">Votre email : </label>
    <input id="email_user" type="text" name="email_user" value="{{ user.email_user }}">
    <label for="password">Votre mot de passe : </label>
    <input id="password" type="text" name="password" value="{{ user.password}}">
    <input type="submit" value="OK">
</form>
